/* General */
.vbox {
	-fx-spacing: 5px;
}
.hbox {
	-fx-spacing: 5px;
}
.label.header {
	-fx-font: bold 16 sans-serif;
}
.vbox.section {
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-spacing: 15;
	-fx-padding: 5;
}

/* Dialog */
.dialog {
	-fx-padding: 10;
}
.dialog .vbox.message {
	-fx-padding: 10px;
}
.dialog .scroll-pane.main {
	-fx-background-color: white;
}
.dialog .hbox.buttonContainer {
	-fx-alignment: center;
	-fx-padding: 20 0 0 0;
}

/* Error */
.hbox.error .label {
	-fx-text-fill: red;
}
.hbox.error .check-box {
	-fx-text-fill: red;
}
.hbox.error .radio-button {
	-fx-text-fill: red;
}
.label.error {
	-fx-text-fill: red;
}
.text-field.error {
	-fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, FFFF99;
}

/* Bed selection */
.hbox.file {
	-fx-alignment: center-left;
}
.hbox.bed {
	-fx-alignment: center-left;
}
.hbox.bed.error .label {
	-fx-text-fill: black;
}
.hbox.bed .indexed-cell.error {
	-fx-text-fill: red;
}
.color-cell .label {
	-fx-background-radius: 7px;
	-fx-border-width: 1px;
	-fx-border-color: black;
	-fx-border-radius: 7px;
	-fx-padding: 2px 15px;
}

/* Multiple files selection */
.hbox.files {
	-fx-alignment: center-left;
}
.hbox.files .vbox.move {
	-fx-alignment: center-left;
	-fx-fill-width: false;
}
.hbox.files .vbox.files {
	-fx-alignment: center-left;
}
.hbox.files .file {
	-fx-padding: 0 5;
}
.hbox.files .file .text {
	-fx-padding: 0 5 0 0;
}
.hbox.files .button.up {
	-fx-graphic: url('images/go-up-4_16.png');
	-fx-content-display: graphic-only;
}
.hbox.files .button.down {
	-fx-graphic: url('images/go-down-4_16.png');
	-fx-content-display: graphic-only;
}

/* Resizable pane */
.resizable {
	-fx-padding: 5;
}
.resizable .resize {
	-fx-background-color: grey;
}
