<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

  <logger name="ca.qc.ircm.smoothing" level="DEBUG" />
  <logger name="org.springframework" level="INFO"/>
</configuration>
